In [10]:
import pandas as pd 
import numpy as np

In [11]:
file1 = pd.read_csv("file1.csv")
file2 = pd.read_csv("file2.csv")
file3 = pd.read_csv("file3.csv")

In [13]:
print(file1.shape)
print(file2.shape)
print(file3.shape)

(4008, 11)
(996, 11)
(7070, 11)

In [14]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [15]:
file1.columns=file1.columns.astype("str")

In [16]:
file1.columns=file1.columns.map(str.upper)

In [17]:
file1.columns

Index(['CUSTOMER', 'ST', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'VEHICLE CLASS', 'TOTAL CLAIM AMOUNT'],
      dtype='object')

In [18]:
data = pd.concat([file1, file2, file3], axis=0) 
print(data.shape)
display(data)

(12074, 22)

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,...,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Bachelor,23405.98798,71941.0,73.0,0,198.234764,Personal Auto,Four-Door Car,California,M
7066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,College,3096.511217,21604.0,79.0,0,379.200000,Corporate Auto,Four-Door Car,California,F
7067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Bachelor,8163.890428,0.0,85.0,3,790.784983,Corporate Auto,Four-Door Car,California,M
7068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,College,7524.442436,21941.0,96.0,0,691.200000,Personal Auto,Four-Door Car,California,M
7069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,College,2611.836866,0.0,77.0,0,369.600000,Corporate Auto,Two-Door Car,California,M

In [19]:
cols=file1.columns

In [20]:
num_cols=file1._get_numeric_data().columns

In [21]:
num_cols

Index(['INCOME', 'MONTHLY PREMIUM AUTO', 'TOTAL CLAIM AMOUNT'], dtype='object')

In [23]:
list(set(cols)-set(num_cols))

['NUMBER OF OPEN COMPLAINTS',
 'POLICY TYPE',
 'GENDER',
 'EDUCATION',
 'VEHICLE CLASS',
 'CUSTOMER',
 'ST',
 'CUSTOMER LIFETIME VALUE']

In [28]:
file1=file1.drop(columns=['EDUCATION','NUMBER OF OPEN COMPLAINTS'])

In [29]:
file1.columns

Index(['CUSTOMER', 'ST', 'GENDER', 'CUSTOMER LIFETIME VALUE', 'INCOME',
       'MONTHLY PREMIUM AUTO', 'POLICY TYPE', 'VEHICLE CLASS',
       'TOTAL CLAIM AMOUNT'],
      dtype='object')

In [31]:
file1=file1.drop_duplicates()
file1.shape

(1072, 9)

In [32]:
file1['CUSTOMER LIFETIME VALUE'] = file1['CUSTOMER LIFETIME VALUE'].str.rstrip('%').astype('float') / 100.0

In [33]:
file1.head()

,CUSTOMER,ST,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,6979.5359,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,12887.4317,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,7645.8618,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,5363.0765,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

In [34]:
file1[file1['INCOME']<=0]

,CUSTOMER,ST,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,6979.5359,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,7645.8618,0.0,106.0,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,7216.1003,0.0,101.0,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,M,4738.9920,0.0,67.0,Personal Auto,Four-Door Car,482.400000
...,...,...,...,...,...,...,...,...,...
1046,RG30482,Oregon,F,13668.3553,0.0,197.0,Personal Auto,SUV,1418.400000
1048,QQ39596,Arizona,F,2517.5336,0.0,69.0,Personal Auto,Four-Door Car,42.096415
1055,KJ86296,Oregon,M,4556.5930,0.0,73.0,Personal Auto,Four-Door Car,525.600000
1058,UX92071,Oregon,M,6743.1193,0.0,199.0,Personal Auto,Luxury SUV,955.200000
1061,RY92647,Cali,F,10506.7717,0.0,92.0,Personal Auto,Four-Door Car,546.524896